<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Ubah Penduduk</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" href="/css/bootstrap.min.css" />
	<style>
    	.form {
    		margin:0 auto;
    	}
    </style>
</head>

<body>
	
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="#">SI Kependudukan</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
					data-target="navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>		
			</button>		
					
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/penduduk/cari">Cari Data</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/penduduk/tambah">Tambah Penduduk</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/keluarga/tambah">Tambah Keluarga</a>
					</li>
					<!-- <li class="nav-item">
						<a class="nav-link" href="/penduduk/ubah">Update Penduduk</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/keluarga/ubah">Update Keluarga</a>
					</li> -->
				</ul>
			</div>
		</nav>
	
	<center>
	<h1 class="page-header">Ubah Penduduk</h1>
	</center>
	
	<div class="container">
	<div class="form col-lg-8">
	<form class="inputAction" th:object="${penduduk}" action="/penduduk/ubah" method="post">
	
		<!-- <input class="hidden" type="text" name="id" readonly="true" th:field="*{id}" th:value="${penduduk.id}" />
	    <input class="hidden" type="text" name="nik" readonly="true" th:field="*{nik}" th:value="${penduduk.nik}" />
	    <input class="hidden" type="text" name="is_wafat" readonly="true" th:field="*{is_wafat}" th:value="${penduduk.is_wafat}" /> -->
	    
	    <input type="hidden" name="id" readonly="true" th:value="${penduduk.id}" />
	    <input type="hidden" name="nik" readonly="true" th:value="${penduduk.nik}" />
	    <input type="hidden" name="is_wafat" readonly="true" th:value="${penduduk.is_wafat}" />
      
		<div class="form group">
			<label for="nama" >Nama :</label> <input class="form-control" placeholder="Masukkan Nama" type="text" name="nama" th:field="*{nama}" th:value="${penduduk.nama}" />
		</div>
		<div class="form group">
			<label for="tempat_lahir">Tempat Lahir :</label> <input class="form-control" placeholder="Masukkan Tempat Lahir" type="text" name="tempat_lahir" th:field="*{tempat_lahir}" th:value="${penduduk.tempat_lahir}" />
		</div>
		<div class="form group">
			<label for="tanggal_lahir">Tanggal Lahir :</label> <input class="form-control" placeholder="Masukkan Tanggal Lahir" type="date" name="tanggal_lahir" th:field="*{tanggal_lahir}" th:value="${penduduk.tanggal_lahir}" />
		</div>
		<div class="form-group">
          <label for="inputJenisKelamin">Jenis Kelamin</label>
            <select th:field="*{jenis_kelamin}" class="form-control" id="inputJenisKelamin" th:value="${penduduk.jenis_kelamin}">
             <option value="0">Laki-laki</option>
             <option value="1">Perempuan</option>
         </select>
        </div>
        <div class="form-group">
          <label for="inputStatusDalamKeluarga">Status Dalam Keluarga</label>
            <select th:field="*{status_dalam_keluarga}" class="form-control" id="inputStatusDalamKeluarga" th:value="${penduduk.status_dalam_keluarga}">
             <option value="Anak">Anak</option>
             <option value="Istri">Istri</option>
             <option value="Famili Lain">Famili Lain</option>
             <option value="Kepala Keluarga">Kepala Keluarga</option>
             <option value="Pembantu">Pembantu</option>
         </select>
        </div>
        <div class="form-group">
          <label for="inputGolonganDarah">Golongan Darah</label>
            <select th:field="*{golongan_darah}" class="form-control" id="inputGolonganDarah" th:value="${penduduk.golongan_darah}">
             <option value="A+">A+</option>
             <option value="A-">A-</option>
             <option value="B+">B+</option>
             <option value="B-">B-</option>
             <option value="AB+">AB+</option>
             <option value="AB-">AB-</option>
             <option value="O+">O+</option>
             <option value="O-">O-</option>
         </select>
        </div>
        <div class="form-group">
          <label for="inputAgama">Agama</label>
            <select th:field="*{agama}" class="form-control" id="inputAgama" th:value="${penduduk.agama}">
             <option value="Islam">Islam</option>
             <option value="Kristen Protestan">Kristen Protestan</option>
             <option value="Kristen Katolik">Kristen Katolik</option>
             <option value="Hindu">Hindu</option>
             <option value="Buddha">Buddha</option>
             <option value="Konghucu">Konghucu</option>
         </select>
        </div>
        <div class="form-group">
          <label for="inputStatusPerkawinan">Status Perkawinan</label>
            <select th:field="*{status_perkawinan}" class="form-control" id="inputStatusPerkawinan" th:value="${penduduk.status_perkawinan}">
             <option value="Belum Kawin">Belum Kawin</option>
             <option value="Kawin">Kawin</option>
             <option value="Cerai Hidup">Cerai Hidup</option>
             <option value="Cerai Mati">Cerai Mati</option>
         </select>
        </div>
        <div class="form-group">
          <label for="inputPekerjaan">Pekerjaan</label>
            <input th:field="*{pekerjaan}" type="text" class="form-control" id="inputPekerjaan" th:value="${penduduk.pekerjaan}"></input>
        </div>
        <div class="form-group">
          <label for="inputKewarganegaraan">Kewarganegaraan</label>
            <select th:field="*{is_wni}" class="form-control" id="inputKewarganegaraan" th:value="${penduduk.is_wni}">
             <option value="1">WNI</option>
             <option value="0">WNA</option>
         </select></div>
        <div class="form-group">
          <label for="inputStatusKematian">Status Kematian</label>
            <select th:field="*{is_wafat}" class="form-control" id="inputStatusKematian" th:value="${penduduk.is_wafat}">
             <option value="0">Hidup</option>
             <option value="1">Mati</option>
         </select>
        </div>
        <div class="form-group">
          <label for="inputIdKeluarga">ID Keluarga</label>
            <input th:field="*{id_keluarga}" type="text" class="form-control" id="inputIdKeluarga" th:value="${penduduk.id_keluarga}"></input>
        </div>
		<!-- <div class="form-group">
			<label for="jenis_kelamin">Jenis Kelamin</label>
			<select th:field="*{jenis_kelamin}" class="form-control" id="inputJenisKelamin" th:value="${penduduk.jenis_kelamin}"> 
				<option value="0">Laki-Laki</option>
				<option value="1">Perempuan</option>
			</select>
		</div>
		<div class="form group">
			<label for="is_wni">Kewarganegaraan (0 = WNA, 1 = WNI) :</label> <input class="form-control" placeholder="Masukkan Kewarganegaraan" type="number" name="is_wni" min="0" max="1" th:field="*{is_wni}" th:value="${penduduk.is_wni}" />
		</div>
		<div class="form group">
			<label for="id_keluarga">Id Keluarga :</label> <input class="form-control" placeholder="Masukkan Id Keluarga Anda" type="text" name="id_keluarga" th:field="*{id_keluarga}" th:value="${penduduk.id_keluarga}" />
		</div>
		<div class="form group">
			<label for="agama">Agama :</label> <input class="form-control" placeholder="Masukkan Agama" type="text" name="agama" th:field="*{agama}" th:value="${penduduk.agama}" />
		</div>
		<div class="form group">
			<label for="pekerjaan">Pekerjaan :</label> <input class="form-control" placeholder="Masukkan Pekerjaan" type="text" name="pekerjaan" th:field="*{pekerjaan}" th:value="${penduduk.pekerjaan}" />
		</div>
		<div class="form group">
			<label for="status_perkawinan">Status Perkawinan :</label> <input class="form-control" placeholder="Masukkan Status Perkawinan" type="text" name="status_perkawinan" th:field="*{status_perkawinan}" th:value="${penduduk.status_perkawinan}" />
		</div>
		<div class="form group">
			<label for="status_dalam_keluarga">Status Dalam Keluarga :</label> <input class="form-control" placeholder="Masukkan Status Dalam Keluarga" type="text" name="status_dalam_keluarga" th:field="*{status_dalam_keluarga}" th:value="${penduduk.status_dalam_keluarga}" />
		</div>
		<div class="form group">
			<label for="golongan_darah">Golongan Darah :</label> <input class="form-control" placeholder="Masukkan Golongan Darah" type="text" name="golongan_darah" th:field="*{golongan_darah}" th:value="${penduduk.golongan_darah}" />
		</div> -->
		<!-- <div>
			<label for="is_wafat">Status Kematian (0 = Wafat, 1 = Hidup)</label> <input placeholder="Masukkan Status Kematian" type="number" name="is_wafat" min="0" max="1" th:value="${penduduk.is_wafat}" />
		</div> -->
		<br/>
		<div>
			<button class="btn btn-primary" type="submit" name="action" value="simpan">Simpan</button>
		</div>
		<br/>
	</form>
	</div>
	</div>
</body>

</html>

