<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Redirect...</title>
<link rel="stylesheet" href="/css/bootstrap.min.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
 		<script type="text/javascript" src="/js/datatables.min.js"></script>
 		<script>
 			var auto_refresh = setInterval(function()
 			{
 				submitform();
 			}, 0000);
 			//Form submit function
 			function submitform() {
 				document.getElementById("form").submit();
 			}
 		</script>
</head>
<body>
		<div class="container-fluid">
	        <form id="form" method="post" th:action="'/penduduk?nik=' + ${penduduk.nik}">
	            <!-- <input type="hidden" name="nik" th:value="${penduduk.nik}" /> -->
	            <button hidden="hidden" type="submit" class="btn btn-danger">Nonaktifkan</button>
	        </form>
	    </div>
</body>
</html>